* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(59, 196, 226);
    width: 100%;
    height: 100vh;
    position: relative;
}

.sun-container {
    width: 15%;
    height: 30%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 20%;
}

 .sun-container > .circle-sun {
    width: 70%;
    height: 70%;
    background-color: yellow;
    border-radius: 50%;
 }

 .sun-container > .ray {
    width: 100%;
    height: 2px;
    background-color: yellow;
    position: absolute;
 }

 .ray2 {
    transform: rotate(130deg);
    height: 6px;
 }

  .ray3 {
    transform: rotate(220deg);
    height: 4px;
 }

 .sun-2 {
    left: 50%;
    height: 50%;
    width: 40%;
 }